*{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin:0;
    width: 100vw;
}
header{
    margin-left: 1vw;
    margin-top: 1vh;
    width: 99vw;
    height:500px;

    display: flex;
    flex-direction: row;
    background-color: rgba(36, 106, 237, 0.542);
}
.headText{
    background-color: white;
    height: 300px;
    width:  75vw;
    margin-top: 50px;
}
.GoodEvng{
    margin-top: 10px;
    font-size: 15px;
}
.Start{
    margin-top: 10px;
    font-size: 25px;
    color: rgb(255, 201, 100);
}
.Head{
    margin-top: 10px;
    font-size: 45px;
}
.NormalText{
    margin-top: 10px;
    width: 30vw;
    font-size: 14px;
}
.Gaslo{
    margin-top: 10px;
    font-size: 20px;
}
.sendGus{
    margin-top: 10px;
    font-size: 20px;
    background-color: rgb(255, 201, 100);
    border: 0px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}
middle{
    margin-left: 1vw;
    margin-top: 1vh;
    width: 90vw;
    height: 1000px;
    justify-items: center;
    background-color: wheat;
}
.middle{
    margin-left: 1vw;
    margin-top: 1vh;
    
    height: 800px;
    width: 90vw;
    background-color: wheat;

    display: grid;
    grid-template-columns: repeat(3,30vw);
}
.Head2{
    width: 90vw;
    font-size: 30px;
}
.card{
    width:30vw;
    height: 350px;
}